.commandlinkstyle{
	margin-left: 12px;
}






.left {
    text-align: left;
}
 
.center {
     text-align: center;
}
 
.right {
     text-align: right;
}
 
.buttonPanel {
     text-align: center;
     width:80%;
     margin:0px auto;
}
